.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.form-data {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.inputs {
  width: 60%;
  margin-top: 10px !important;
}

.DatePicker {
  display: flex !important;
  flex-flow: row;
}

.AttachImage {
  display: flex !important;
  flex-flow: row;
  align-items: center;
}
